POSTGRES_DB=proyecto_lidia
POSTGRES_USER=lidia
POSTGRES_PASSWORD=local_lidia
POSTGRES_PORT=15432
MONGO_INITDB_ROOT_USERNAME=lidia
MONGO_INITDB_ROOT_PASSWORD=local_lidia
MONGO_PORT=27027
DATABASE_URL=postgresql://lidia:local_lidia@postgres:5432/proyecto_lidia
MONGO_URI=mongodb://lidia:local_lidia@mongo:27017/proyecto_lidia?authSource=admin
