# Proyecto LIDIA EC3 - Docker local, sin secretos reales.
POSTGRES_DB=proyecto_lidia
POSTGRES_ADMIN_USER=postgres
POSTGRES_ADMIN_PASSWORD=CAMBIAR
POSTGRES_ETL_PASSWORD=CAMBIAR
POSTGRES_DASHBOARD_PASSWORD=CAMBIAR
POSTGRES_PORT=5432
MONGO_ROOT_USER=lidia_admin
MONGO_ROOT_PASSWORD=CAMBIAR
MONGO_DB=proyecto_lidia
MONGO_ENABLED=false
MONGO_PORT=27017
FIRMS_MAP_KEY=AGREGAR_LOCALMENTE
