# Proyecto LIDIA EC3 - ejemplo sin secretos.
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=proyecto_lidia
LIDIA_POSTGRES_DB=proyecto_lidia
POSTGRES_USER=lidia_etl_user
POSTGRES_PASSWORD=lidia_local

MONGO_HOST=localhost
MONGO_PORT=27017
MONGO_DB=proyecto_lidia
MONGO_USER=lidia_mongo_user
MONGO_PASSWORD=lidia_local
MONGO_AUTH_SOURCE=admin
MONGO_ENABLED=false

FIRMS_MAP_KEY=AGREGAR_LOCALMENTE
FIRMS_FILE=
FIRMS_COUNTRY_BOUNDARIES_FILE=
METEO_FILE=
CHIRPS_FILE=
MODIS_FILE=
INUMET_FILE=
CAMS_FILE=
AIR_QUALITY_FILE=
INUMET_TEMPERATURA_FILE=
INUMET_HUMEDAD_FILE=
METEO_API_URL=https://archive-api.open-meteo.com/v1/archive
METEO_START_DATE=2018-01-01
METEO_END_DATE=2025-12-31
CAMS_AIR_QUALITY_API_URL=https://air-quality-api.open-meteo.com/v1/air-quality
LIDIA_DATA_ROOT=./data
LIDIA_LOG_DIR=./logs
LOG_LEVEL=INFO
