# Entorno UTEC / JupyterLab institucional
# Copiar a .env o config/.env y completar valores reales.
# No commitear contraseñas reales.

POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=grp03db
POSTGRES_USER=grp03
POSTGRES_PASSWORD=CAMBIAR

MONGO_HOST=localhost
MONGO_PORT=27017
MONGO_DB=grp03db
MONGO_USER=grp03
MONGO_PASSWORD=CAMBIAR
MONGO_AUTH_SOURCE=grp03db

STREAMLIT_HOST=0.0.0.0
STREAMLIT_PORT=8501

DIR_DATOS_EXTERNOS=/app/Proyecto-LIDIA/data
FIRMS_SHAPEFILE_PATH=/app/Proyecto-LIDIA/data/raw/firms/fire_archive_M-C61_740435.shp
LOG_LEVEL=INFO
TIMEZONE=America/Montevideo
